<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="app/views/style.css" />
<title>Electromechanikas</title>
</head>

<body>
<div id="container">
		<div id="mainpic">
        	<h1>Electro<span class="off">mechanikas</span></h1>
        </div>   
        
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="en"><div id="Eng"></div></a></li>
                <li class="menuitem"><a href="ru"><div id="Ru"></div></a></li>
                <li class="menuitem"><a href="de"><div id="De"></div></a></li>
                <li class="menuitem"><a href="ua"><div id="Ua"></div></a></li>
                <li class="menuitem"><a href="lt"><div id="Lt"></div></a></li>
            </ul>
        </div>
        
		<div id="content">
            <h1>{{ content.contact }}</h1>
            <h2>{{ content.company }}</h2>
            <h2>{{ content.code }}</h2>
            <h2>{{ content.adress }}</h2>
            <h2>{{ content.phone }}</h2>
            <h2>{{ content.email }}</h2>
            <h2>{{ content.director }}</h2>
            <img src= "app/views/images/director.jpg" />
      </div>
   </div>
</body>
</html>
